[submodule "rl_logic_synthesis"]
	path = rl_logic_synthesis
	url = https://github.com/lo7ev/rl_logic_synthesis.git
[submodule "abc_p"]
	path = abc_p
	url = https://github.com/kxzhu0505/abc_p.git
[submodule "LSOracle_p"]
	path = LSOracle_p
	url = https://github.com/kxzhu0505/LSOracle_p.git
[submodule "verilogs/OPDB"]
	path = verilogs/OPDB
	url = https://github.com/PrincetonUniversity/OPDB.git
[submodule "verilogs/benchmarks"]
	path = verilogs/benchmarks
	url = https://github.com/lsils/benchmarks.git
[submodule "yosys"]
	path = yosys
	url = https://github.com/YosysHQ/yosys.git
[submodule "hdl-benchmarks"]
	path = verilogs/hdl-benchmarks
	url = https://github.com/ispras/hdl-benchmarks.git
